name: Release TProxy Binary
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Build
        run: |
          # 使用静态链接确保在不同发行版上都能运行
          CGO_ENABLED=0 GOOS=linux go build -ldflags "-s -w" -o sing-box-tproxy main.go
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-tproxy
          path: sing-box-tproxy
