name: Build and Release
on:
  workflow_dispatch: # 支持手动触发

permissions:
  contents: write # 必须：允许 Actions 写入 Release 附件

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: amd64
          - arch: arm64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=${{ matrix.arch }} \
          go build -ldflags "-s -w" -o sing-box-tproxy-${{ matrix.arch }} main.go

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: sing-box-tproxy-${{ matrix.arch }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
